.list-none {
  list-style: none;
}

.size {
  width: 1200px;
  max-width: 85%;
}

.margin {
  margin: 0 auto;
}

.space {
  width: 90%;
  margin: 0 auto;
}

.border-box {
  box-sizing: border-box;
}

.hidden {
  overflow: hidden;
}

body {
  background: $color-dark-2;
  min-height: 100vh;
}

.object-fit_cover {
  object-fit: cover;
}
