$color-primary: #0081ff;
$color-secundary: #63BEAF;
$color-dark: #413F3F;
$color-dark-2: #2E2E2E;
$color-dark-3: #1D1D1D;
$color-grey: #828d98;
$color-light: #D4D4D4;
$color-white: #ffffff;
$color-purple: #5a41a6;
$color-yellow: #ffec82;


$color-green: #50fa7b;
$color-red: #FB4C54;
$color-blue: #90E9FD;

$radius: 4px;
